@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;600&display=swap&family=Titillium+Web:wght@200;300;400;600&display=swap');

:root {
  --blue1: #182141;
  --blue2: #213d52;
  --blue3: #285167;
  --blue4: #4f9d9a;
  --blue5: #00718d;
  --blue6: #438381;
}

html {
  height: 100%;
}

body {
  font-family: 'Orbitron', sans-serif;
  color: #ffffff;
  height: 100%;
  width: 100%;
  margin: 0;
}

.main-logged-out {
  padding: 2.5rem;
  background-image: radial-gradient(
      circle,
      RGB(0, 113, 141, 0.85),
      RGB(40, 81, 103, 0.85),
      RGB(33, 61, 82, 0.9),
      RGB(24, 33, 65, 0.95)
    ),
    url('./images/movies.jpg');
  height: 100vh;
  background-repeat: repeat;
}
.title {
  text-align: center;
  font-size: 2rem;
}
.secondary-title {
  font-size: 1.25rem;
  text-align: center;
}
.form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: auto;
  border: 2px solid var(--blue4);
  border-radius: 0.3rem;
  padding: 1rem;
}

.input-field {
  border: 1px solid var(--blue4);
  color: var(--blue4);
  border-radius: 0.3rem;
  margin-top: 0.5rem;
  padding: 0.75rem;
  width: 90%;
}

input {
  font-weight: 400;
  font-family: 'Orbitron', sans-serif;
  border-style: none;
  background-color: none;
  outline: none;
}

.link {
  font-size: 0.75rem;
  padding: 0.75rem;
}
a {
  color: #ffffff;
  text-decoration: none;
  font-weight: 600;
}

.submit-button {
  width: 100%;
}

@media only screen and (min-width: 1440px) {
  .form {
    width: 25%;
    margin: auto;
    padding: 2rem;
  }

  .title {
    font-size: 2.5rem;
  }

  .input-field {
    width: 94%;
  }

  .link {
    font-size: 1rem;
  }
}
