.movie-card-container {
  margin: 1.25rem auto;
  width: 80%;
}

.movie-card-content {
  padding: 0.75rem;
  height: 18rem;
  background-image: radial-gradient(
    circle,
    RGB(40, 81, 103, 0.85),
    RGB(33, 61, 82, 0.85),
    RGB(24, 33, 65, 0.9)
  );
  display: grid;
  grid-template-columns: 40% 60%;
  grid-template-rows: auto;
  font-size: 0.75rem;
}

.genres {
  font-style: italic;
}

.add-button {
  margin: auto;
  margin-top: 0.5rem !important;
  width: 80%;
  padding: 0.5rem !important;
  grid-column-start: 1;
  grid-column-end: span 2;
  grid-row-start: 4;
}
.subheading {
  padding: 0.5rem;
  // grid-row-start: 2;
  margin: 0;
}
.movie-overview {
  font-family: 'Titillium Web', sans-serif;
  padding: 0 0.75rem;
  overflow: auto;
  grid-column-start: 1;
  grid-column-end: span 2;
}
.movie-overview::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}

.movie-overview::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
}
.movie-details {
  font-family: 'Titillium Web', sans-serif;
  grid-column-start: 2;
  grid-row-start: 1;
}
.movie-title {
  font-size: 1rem;
  font-family: 'Orbitron', sans-serif;
  margin-top: 0;
}

@media only screen and (min-width: 540px) {
  .add-button {
    width: 40%;
  }

  .movie-card-content {
    height: 18rem;
  }
}

@media only screen and (min-width: 1024px) {
  .movie-card-container {
    width: 65%;
  }
  .movie-card-content {
    grid-template-rows: 33% 33% 33%;
    grid-template-columns: 20% 50% 30%;
    height: 13rem;
  }

  .image {
    grid-column-start: 1;
    grid-row-start: 1;
    grid-row-end: 3;
    margin: auto;
  }

  .add-button {
    grid-column-start: 3;
    grid-row-start: 1;
    width: 30%;
  }

  .movie-overview {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 3;
    padding-right: 3rem;
    padding-left: 0;
  }

  .subheading {
    margin: 0;
    padding: 0;
    margin-top: 2rem;
  }

  .movie-details {
    font-size: 1.1rem;
    padding-right: 2rem;

    margin: 0;
  }
}
