.search-bar {
  display: flex;
  justify-content: center;
  margin: auto;
  border-radius: 0.3rem;
  padding: 0;
}

.search-button-text-2 {
  display: none;
}

.search-input {
  width: 80%;
  background: white;
  color: var(--blue4);
  margin-right: 0.5rem;
}

h1.header {
  padding: 1rem;
  font-size: 3rem;
  text-align: center;
}

input.button {
  background: white;
}

input.button:hover {
  background-color: white;
}

input.button:active {
  transform: none;
}

@media only screen and (min-width: 1440px) {
  .search-button-text-1 {
    display: none;
  }

  .search-button-text-2 {
    display: block;
  }

  .search-input {
    width: 25%;
  }
}
